---
http_interactions:
- request:
    method: get
    uri: http://ckan.net/api/1/rest/package
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - http://thedatahub.org/api/1/rest/package
    body:
      encoding: US-ASCII
      string: ! "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/0.7.65</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 22 Mar 2012 04:14:48 GMT
- request:
    method: get
    uri: http://thedatahub.org/api/1/rest/package
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '["wikipedia-icons", "pl-postcodes", "regionalgeochemicalstreamsurveyareas",
        "lichfield-areas-of-outstanding-beauty", "uniprot", "theyrule", "areas-protected-by-internat[...]
