---
http_interactions:
- request:
    method: get
    uri: http://ckan.net/api/1/search/package?tags=government
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - http://thedatahub.org/api/1/search/package?tags=lod&tags=government
    body:
      encoding: US-ASCII
      string: ! "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/0.7.65</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 22 Mar 2012 04:40:43 GMT
- request:
    method: get
    uri: http://thedatahub.org/api/1/search/package?tags=government
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"count": 517, "results": ["2000-us-census-rdf", "addgene", "aemet",
        "agrovoc-skos", "allen-brain-atlas", "allie-abbreviation-and-long-form-database-in-life-science",
        "amsterdam-museum-as-edm-lod", "animal-diversity-web", "archiveshub-linkeddata",
        "austrian_ski_racers"]}'
  recorded_at: Thu, 22 Mar 2012 04:40:44 GMT
- request:
    method: get
    uri: http://ckan.net/api/1/search/package?limit=527&offset=10&tags=government
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - http://thedatahub.org/api/1/search/package?tags=lod&tags=government&offset=10&limit=527
    body:
      encoding: US-ASCII
      string: ! "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/0.7.65</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 22 Mar 2012 04:40:44 GMT
- request:
    method: get
    uri: http://thedatahub.org/api/1/search/package?limit=527&offset=10&tags=government
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"count": 517, "results": ["b3kat", "bams", "bbc-music", "bbc-programmes",
        "bbc-wildlife-finder", "bbop", "bbop-selected", "benefi[...]
